body{
    background-color: rgb(0, 255, 255);
    font-family: sans-serif;
}

.container{
    width: 20vw;
    margin: auto;
    background-color: white;
    height: auto;
    min-width: 300px;
    border-radius: 10px;
    box-shadow: 7px 7px 15px rgb(0, 162, 148);
    padding: 10px;
}

.container h1{
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    font-size: x-large;
}

.input{
    display: flex;
    justify-content: center;
    position: relative;
}

.input input{
    width: 300px;
    min-width: 100px;
    height: 35px;
    border: 1px solid black;
    border-radius:5px;
    background-color: aqua;
    outline: none;
    border: none;
    font-size: large;
}

#copy{
    position: absolute;
    top: 5px;
    right: 6px;
    cursor: pointer;
}


.range{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.range input{
    margin: 5px;
    width: 290px;
    min-width: 100px;
    cursor: pointer;
}

.passlen{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}

.opt{
    display: flex;
    justify-content: space-between;
}

.opt input{
    cursor: pointer;
    width: 20px;
}

.btn{
    display: flex;
    justify-content: center;
}

.btn button{
    padding: 10px;
    font-size: medium;
    margin: 20px;
    background-color: rgb(0, 255, 255);
    outline: none;
    border: none;
    border-radius: 5px;
}

.btn button:hover{
    background-color: rgb(105, 242, 233);
    cursor: pointer;
}
