*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:aqua
}

.main{
    background-color: blue;
    height: auto;
    width: 20vw;
    margin: auto;
    margin-top: 100px;
    border-radius: 30px;
    outline: none;
    border: none;
}
    
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
}

button{
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    background-color: red;
    border-radius: 10px;
    color: white;
    margin-top: 30px;
    border: none;
    outline: none;
}

#p1 {
    color: white;
    font-family: sans-serif;
    text-align: center;
}

button:hover{
    background-color: rgb(235, 193, 193);
}
